
    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0%;
      background-color: rgb(244, 255, 248);
      z-index: 1000;
      transition: ease-in-out 0.3s;
  }

  .info.active {
      width: 600px;
      transition: ease-in-out 0.3s;
  }

  .info-context{
      display: none;
  }

  .info.active .info-context{
      display: block;
  }

  .close-btn{
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
  }

  .info-body{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 550px;
      top: 10px;
      left: 20px;
  }

  .table-header {
      font-family: 'Comfortaa';
      font-size: 20px;    
  }

  .table-body{
      font-size: 16px;
      font-weight: 300;
      font-family: 'Ubuntu';
  }

  .info-body-value-main {
      font-size: 30px;
      font-weight: 400;
  }




/* about responsive */
@media screen and (min-width: 1408px){}
  
@media screen and (max-width: 1408px) and (min-width: 1216px){}
  
@media screen and (max-width: 1216px) and (min-width: 1024px){}
  
@media screen and (max-width: 1024px) and (min-width: 769px){}
  
@media screen and (max-width: 768px) {}
  
@media screen and (max-width: 450px) {}



/* remove default */
ul {
  list-style-type: none;
}

li {
  letter-spacing: 5px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}