<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busmap</title>
    <link rel="icon" type="image/png" href="assets/images/busIcon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Recursive:wght@100;200;300;400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:ital@1&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Petrona:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500;600&display=swap" rel="stylesheet">
    <script src = "assets/fonts/fontawesome.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body style="margin: 0;height: 100vh; width: 100vw">
    
    <div class="info">
        <div class="info-context" style="width: 100%; height: 100%;">
            <div onclick="closeInfoTab()" class="close-btn"><i class="mdi mdi-close icon-small"></i></div>
            <div class="status loading" align="center">Loading...</div>
            <div style="width: 90%; position: absolute; left: 10px; top: 40px;">
                <table style="width: 100%;">
                    <thead class="table-header">
                        <tr>
                            <th style="width: 50%;">
                                Tuyen
                            </th>
                            <th style="width: 20%;">
                                Sap den
                            </th>
                            <th style="width: 20%;">
                                Tiep theo
                            </th>
                        </tr>
                    </thead>
                </table>
                <hr>
                <div style="max-height: calc(100vh - 100px); overflow: scroll;">
                    <table style="width: 100%;">
                        <thead class="table-header">
                            <tr>
                                <th style="width: 50%;">
                                </th>
                                <th style="width: 20%;">
                                </th>
                                <th style="width: 20%;">
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div id="map" style="height: 100%; width: 100%;"></div>

    <script src="assets/js/custom.js"></script>
</body>
</html>